<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
  <h:head>
    <title>Calculadora JSF</title>
  </h:head>
  <h:body>
    <h:form>
      <h:panelGroup>
        <h1>Calculadora</h1>
        <table>
          <tr>
            <td>Numero</td>
            <td>
              <h:inputText value="#{calculadoraMB.numero}" id="numero" label="Numero a Sumar" required="true">
                <f:validateDoubleRange></f:validateDoubleRange>
              </h:inputText>
            </td>
          </tr>
          <tr>
            <td>Operaciones</td>
            <td>
              <h:selectOneMenu value="#{calculadoraMB.operacion}">
                <f:selectItem itemValue="SUMAR" itemLabel="Sumar"></f:selectItem>
                <f:selectItem itemValue="RESTAR" itemLabel="Restar"></f:selectItem>
                <f:selectItem itemValue="MULTIPLICAR" itemLabel="Multiplicar"></f:selectItem>
                <f:selectItem itemValue="DIVIDIR" itemLabel="Dividir"></f:selectItem>
                <f:selectItem itemValue="SIN" itemLabel="Seno"></f:selectItem>
                <f:selectItem itemValue="COS" itemLabel="Coseno"></f:selectItem>
                <f:selectItem itemValue="TAN" itemLabel="Tangente"></f:selectItem>
              </h:selectOneMenu>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h:commandButton value="Calcular" action="#{calculadoraMB.calcular()}"></h:commandButton>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h1>
                <h:outputText value="#{calculadoraMB.resultado}"></h:outputText>
              </h1>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td colspan="2">
              <b><h:message for="numero" ></h:message></b>
            </td>
          </tr>
        </table>
      </h:panelGroup>
    </h:form>
  </h:body>
</html>