<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
  <h:head>
    <title>Facelet Title</title>
    <link rel="stylesheet" type="text/css" href="/marketplaceMTC-war/faces/jsfcrud.css" />
  </h:head>
  <h:body>
    Hello from Facelets
    <h:form>
      <h:commandLink action="#{adjuntos.listSetup}" value="Show All Adjuntos Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{archivos.listSetup}" value="Show All Archivos Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{archivosadjuntos.listSetup}" value="Show All Archivosadjuntos Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{categorias.listSetup}" value="Show All Categorias Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{menus.listSetup}" value="Show All Menus Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{ofertas.listSetup}" value="Show All Ofertas Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{paquetes.listSetup}" value="Show All Paquetes Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{paquetesdeservicios.listSetup}" value="Show All Paquetesdeservicios Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{perfiles.listSetup}" value="Show All Perfiles Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{permisos.listSetup}" value="Show All Permisos Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{preguntas.listSetup}" value="Show All Preguntas Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{servicios.listSetup}" value="Show All Servicios Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{transacciones.listSetup}" value="Show All Transacciones Items"/>
    </h:form>
    <h:form>
      <h:commandLink action="#{usuarios.listSetup}" value="Show All Usuarios Items"/>
    </h:form>
  </h:body>














</html>

