<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
  <h:head>
    <title>Cuotas JSF</title>
  </h:head>
  <h:body>
    <h:form>
      <h:panelGroup>
        <h1>Calculador de Credito</h1>
        <table>
          <tr>
            <td>Nombre</td>
            <td><h:inputText value="#{jSFManagedBean.nombre}"></h:inputText></td>
          </tr>
          <tr>
            <td>Apellido</td>
            <td><h:inputText value="#{jSFManagedBean.apellido}"></h:inputText></td>
          </tr>
          <tr>
            <td>Fecha de Nacimiento</td>
            <td><h:inputText value="#{jSFManagedBean.fecha}"></h:inputText></td>
          </tr>
          <tr>
            <td>Valor Credito</td>
            <td><h:inputText value="#{jSFManagedBean.valorC}"></h:inputText></td>
          </tr>
          <tr>
            <td>Numero de Cuotas</td>
            <td><h:inputText value="#{jSFManagedBean.cuotas}"></h:inputText></td>
          </tr>
          <tr>
            <td colspan="2">
              <h:commandButton value="Calcular" action="#{jSFManagedBean.calcular()}"></h:commandButton>
            </td>
          </tr>
        </table>
      </h:panelGroup>
      <h:panelGroup>
        <h1>
          <h:outputText value="#{jSFManagedBean.msj}"/>
        </h1>
        <table>
          <thead>
            <tr>
              <th>
                Numero Cuota
              </th>
              <th>
                Saldo
              </th>
              <th>
                Valor Cuota
              </th>
              <th>
                Intereses
              </th>
            </tr>
          </thead>
          <tbody>
            <c:forEach  items="#{jSFManagedBean.miPersonaVO.saldoLista}" var="salLista">
              <tr>
                <td>
                  <h:outputText value="#{salLista.cuotas}"/>
                </td>
                <td>
                  <h:outputText value="#{salLista.saldo}"/>
                </td>
                <td>
                  <h:outputText value="#{salLista.valorcuota}"/>
                </td>
                <td>
                  <h:outputText value="#{salLista.intereses}"/>
                </td>
              </tr>
            </c:forEach>
          </tbody>
        </table>
      </h:panelGroup>
    </h:form>
  </h:body>
</html>

