<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:head>
    <title>Lista Personas</title>
  </h:head>
  <h:body>
    <h:form>
      <h:panelGroup>
        <table border="solid" cellpadding="2" cellspacing="2">
          <thead>
            <tr>
              <th>
                Nombre
              </th>
              <th>
                Apellido
              </th>
              <th>
                Documento
              </th>
              <th colspan="3">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <c:forEach  items="#{personaMB.misPersonas}" var="miPersona">
              <tr>
                <td>
                  <h:outputText value="#{miPersona.nombre}"/>
                </td>
                <td>
                  <h:outputText value="#{miPersona.apellido}"/>
                </td>
                <td>
                  <h:outputText value="#{miPersona.documento}"/>
                </td>
                <td>
                  <h:commandLink value="Ver" action="#{personaMB.irConsultar(miPersona.id,miPersona.nombre,miPersona.apellido,miPersona.documento)}">
                  </h:commandLink>
                </td>
                <td>
                  <h:commandLink value="Editar" action="#{personaMB.irEditar(miPersona.id,miPersona.nombre,miPersona.apellido,miPersona.documento)}">
                  </h:commandLink>
                </td>
                <td>
                  <h:commandLink value="Eliminar" action="#{personaMB.irEliminar(miPersona.id,miPersona.nombre,miPersona.apellido,miPersona.documento)}">
                  </h:commandLink>
                </td>
              </tr>

            </c:forEach>
            <tr>
              <td colspan="3" align="right">
                <h:link value="Buscar Persona" outcome="buscar" >
                </h:link>
              </td>
              <td colspan="3" align="right">
                <h:link value="Nueva Persona" outcome="nuevo" >
                </h:link>
              </td>
            </tr>
          </tbody>
        </table>
      </h:panelGroup>
    </h:form>
  </h:body>
</html>

